VARIABLES

In [13]:
print("welcome to data science and machine learning class")

welcome to data science and machine learning class

In [14]:
message = "welcome to data science and machine learning class"
print (message)

welcome to data science and machine learning class

In [15]:
message

'welcome to data science and machine learning class'

In [16]:
# DATA TYPES

In [17]:
Fname = "Temitope"
Fname

'Temitope'

In [18]:
Age = 45
Age

45

In [19]:
num1 = 13
num2 = 12
answer = num1 + num2
answer

25

In [20]:
height = 5.5
weight = 25.8
result = height + weight
result

31.3

In [21]:
print(f"my name is {Fname} my age is {Age} years old and have a weight of {weight}kg and height of {height} inches")

my name is Temitope my age is 45 years old and have a weight of 25.8kg and height of 5.5 inches

LIST

In [68]:
names = ("Mike", "Joy", "Emmanuel", "Lola")
names

('Mike', 'Joy', 'Emmanuel', 'Lola')

In [70]:
names [3]

'Lola'

In [72]:
names

('Mike', 'Joy', 'Emmanuel', 'Lola')

In [74]:
print(f"{names [2].title()} is a student in my class")

Emmanuel is a student in my class

In [76]:
First_name = "Emmanuel"
Last_name = "Philip"
print(f"My name is {First_name} {Last_name}")

My name is Emmanuel Philip

In [78]:
names[3]

'Lola'

In [80]:
names

('Mike', 'Joy', 'Emmanuel', 'Lola')

In [82]:
names

('Mike', 'Joy', 'Emmanuel', 'Lola')

In [84]:
names.insert(1,"Tope")
names

AttributeError: 'tuple' object has no attribute 'insert'